<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>ACH Logger</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/css/header.css" rel="stylesheet" type="text/css">
		<link href="/css/flow.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header id="header">
			<p align=right><font size="3" color="#347235"><br>Hello <b><%=userName %></b> you are login to env: <b><%=environment %></b></font></p>
			<div class="innertube" align= center>
				  <a class="active" href="/login">HOME</a>
				  <a href="/tal">AUDIT_LOG</a>
				  <a href="/tba">BATCH_AUDIT_LOG</a>
				  <a href="/tabc">ACH_BATCH_CONTROL</a>
				  <a href="/tabl">ACH_BATCH_LOG</a>
				  <a href="/tss">SESSION_STATE</a>
				  <a href="/tel">EXCEPTION_LOG</a>
				  <a href="/tps">POSTING_STATE</a>
				  <a href="/tsl">STANDIN_LOG</a>
				  <a href="/serviceStats">SERVICE_STATS</a>
				  <a href="/logout">LOG OUT</a>
			</div>
		</header>
	